<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to Software Soup!
  </h2>
  <div>
    <p>
      We are currently undergoing maintenance (and working on a video about it). While you wait, you can follow us on social media!
    </p>
    <a href="https://twitter.com/SoupSoftware">
      <mat-card class="social-card twitter-card">
        <mat-card-header>
          <div mat-card-avatar class="mdi mdi-twitter"></div>
          <mat-card-title>@SoupSoftware</mat-card-title>
          <mat-card-subtitle class="white-text">Get notified with all of our projects and videos!</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
    <a href="https://www.youtube.com/channel/UCsxvZIdR73uHRl4j3BdXxMQ">
      <mat-card class="social-card youtube-card">
        <mat-card-header>
          <div mat-card-avatar class="mdi mdi-youtube"></div>
          <mat-card-title>SoftwareSoup</mat-card-title>
          <mat-card-subtitle class="white-text">Where programming is our main ingredient!</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </div>
</div>


